<h2>Section title</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>勤務日</th>
        <th>出勤〜退勤</th>
      </tr>
    </thead>
    <tbody>
      <% @kintai.each do |kintai| %>
      <tr>
        <td><%= kintai.id %></td>
        <td><%= kintai.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= kintai.started_at.strftime("%H:%M") %> ~ 
            <%= kintai.finished_at.strftime("%H:%M") %></td>
      </tr>
    </tbody>
  </table>
</div>